body{
    background-color: #dadada;
    font-family: Tahoma, sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(79, 79, 79, 0.8);
}

th, td {
    text-align: left;
    padding: 16px;
    border: 1px solid #ddd;
}

.products-table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 72%;
    border: 1px solid #ddd;
    float: left;
    margin-top: 10px;
    margin-right: 0;
}

.main-add-field{
    width: 84%;
    height: 45px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 17px;
    padding-left: 1%;
    border: 1px solid #ccc;
}

.add-button{
    width: 14%;
    height: 34px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    background-color: #2285d0;
    color: white;
    border: 0;
    box-shadow: 0 7px #297ab9, 0 -7px #2285d0;
}

.add-button:hover {
    background-color: #297ab9;
    box-shadow: 0 7px #297ab9, 0 -7px #297ab9;
}

.add-button:active {
    background-color: #1e608f;
    box-shadow: 0 7px #1e608f, 0 -7px #1e608f;
}


.add-button::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 20px;
    right: 30%;
    opacity: 0;
    scale: 0;
    transition: 1s opacity, 1s scale, 1s transform;
    width: 120px;
    height: 30px;
    background-color: #af00da;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding-top: 12px;
    font-weight: initial;
    font-size: 15px;
}

.add-button:hover:after {
    opacity: 1;
    scale: 1;
    transform: translateY(-20px);
}


.row, .row-extra{
    position: relative;
    padding-bottom: 10px;
}

.row-extra .plus-button{
    visibility: hidden;
}

.row-extra .minus-button{
    visibility: hidden;
}

.row-extra .delete-button{
    visibility: hidden;
}

.row-extra .product-name{
    text-decoration-line: line-through;
}

.product-name-field{
    padding-left: 10px;
    height: 30px;
    width: 15%;
    border-radius: 3px;
    border: 1px solid #2285d0;
    box-shadow: 0 0 7px #2285d0;
}

.edit-buttons{
    position: absolute;
    right: 50%;
    margin-bottom: 10px;
}

.product-amount{
    font-weight: bold;
    background-color: #e8e8e8;
    border-radius: 5px;
    padding: 7px 14px;
    text-align: center;
    color: #565555;
}

.minus-button{
    width: 35px;
    height: 34px;
    background-color: #db2828;
    border-radius: 17px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 0;
    box-shadow: 0 3px #c02627;
}

.minus-button:hover{
    background-color: #c02627;
}

.minus-button:enabled:active {
    background-color: #b21f20;
    box-shadow: 0 0 #b21f20;
    transform: translateY(3px);
}

.minus-button:disabled{
    width: 35px;
    height: 34px;
    background-color: #ef9f9e;
    border-radius: 17px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 0;
    box-shadow: 0 3px #ef9f9e;
}

.minus-button::after {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    bottom: 20px;
    right: 35%;
    scale: 0;
    transition: 1s opacity, 1s scale, 1s transform;
    width: 120px;
    height: 30px;
    background-color: #af00da;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding-top: 12px;
    font-weight: initial;
    font-size: 15px;
}

.minus-button:hover:after {
    opacity: 1;
    scale: 1;
    transform: translateY(-20px);
}

.plus-button{
    width: 35px;
    height: 34px;
    background-color: #22ba46;
    border-radius: 17px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 0;
    box-shadow: 0 3px #21a340;
}

.plus-button:hover{
    background-color: #21a340;
}

.plus-button:active {
    background-color: #1a8f36;
    box-shadow: 0 0 #1a8f36;
    transform: translateY(3px);
}

.plus-button::after {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    bottom: 20px;
    left: 35%;
    scale: 0;
    transition: 1s opacity, 1s scale, 1s transform;
    width: 120px;
    height: 30px;
    background-color: #af00da;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding-top: 12px;
    font-weight: initial;
    font-size: 15px;
}

.plus-button:hover:after {
    opacity: 1;
    scale: 1;
    transform: translateY(-20px);
}

.row-extra .status-button{
    position: absolute;
    right: 10px;
}

.status-button{
    position: absolute;
    right: 50px;
    width: 12%;
    height: 34px;
    border: 1px solid #dadada;
    background-color: #f3f3f3;
    border-radius: 5px;
    color: #565555;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0 3px #d3d3d5;
}

.status-button:hover{
    background-color: #d3d3d5;
}

.status-button:active {
    background-color: #c5c5c5;
    box-shadow: 0 0 #c5c5c5;
    transform: translateY(3px);
}

.status-button::after {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    bottom: 20px;
    scale: 0;
    transition: 1s opacity, 1s scale, 1s transform;
    right: 2%;
    width: 120px;
    height: 50px;
    background-color: #af00da;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding-top: 12px;
    font-weight: initial;
    font-size: 15px;
}

.status-button:hover:after {
    opacity: 1;
    scale: 1;
    transform: translateY(-20px);
}

.delete-button{
    position: absolute;
    right: 10px;
    width: 35px;
    height: 34px;
    background-color: #db2828;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 0;
    box-shadow: 0 3px #c02627;
}

.delete-button:hover{
    background-color: #c02627;
}

.delete-button:active {
    background-color: #b21f20;
    box-shadow: 0 0 #b21f20;
    transform: translateY(3px);
}

.delete-button::after {
    content: attr(data-tooltip);
    position: absolute;
    opacity: 0;
    bottom: 20px;
    scale: 0;
    transition: 1s opacity, 1s scale, 1s transform;
    left: -130%;
    width: 120px;
    height: 30px;
    background-color: #af00da;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    padding-top: 12px;
    font-weight: initial;
    font-size: 15px;
}

.delete-button:hover:after {
    opacity: 1;
    scale: 1;
    transform: translateY(-20px);
}

.result-table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 25%;
    border: 1px solid #ddd;
    padding: 5px;
    float: right;
    margin-left: 2%;
    margin-top: 10px;
    margin-right: 1%;
}

.left-place{
    padding-top: 20px;
    padding-bottom: 20px;
}

.left{
    font-weight: bold;
    font-size: 24px;
    margin: 2%;
}

.not-bought{
    padding: 20px;
}

.bought{
    padding: 20px;
}

.product-item {
    font-weight: bold;
    font-size: small;
    background-color: #e8e8e8;
    display: inline-block;
    height: 25px;
    padding: 7px 7px 7px 10px;
    border-radius: 5px;
    color: #5e5e5e;
    margin-top: 3px;
}

.bought .product-item-name {
    text-decoration-line: line-through;
}

.not-bought .amount {
    background-color: #f3751f;
    border-radius: 15px;
    color: white;
    display: inline-block;
    height: 20px;
    width: 23px;
    text-align: center;
    padding-top: 3px;
}

.bought .amount{
    background-color: #f3751f;
    border-radius: 15px;
    color: white;
    display: inline-block;
    height: 20px;
    width: 23px;
    text-align: center;
    padding-top: 3px;
    text-decoration-line: line-through;
}

badge {
    background: #af00da;
    width: 100px;
    height: 200px;
    border-radius: 10px;
    position: fixed;
    bottom: -173px;
    left: 3%;
    max-width: 80%;
    text-align: center;
    color: white;
    padding: 13px 5px 5px;
    transition: all 1s ease;
}

badge:hover{
    transform: translateY(-50px);
    background: #4c01da;
}

.badge-title{
    font-weight: bold;
    padding-bottom: 20px;
}

.created-by{
    text-align: left;
    padding-left: 18px;
    top: 0;
    font-size: 10px;
    font-weight: initial;
}

.author{
    font-size: 12px;
    font-weight: initial;
}

@media print {
    badge{
        background-color: white;
        border: 2px solid #af00da;
        color: black;
        padding: 3px 5px 5px;
        bottom: -150px;
    }
    .badge-title{
        display: none;
    }
    th, td {
        padding: 0;
    }
}

@media (max-width: 800px) {
    .left{
        font-weight: bold;
        font-size: 100%;
        margin: 2%;
    }
    .main-add-field{
        width: 72%;
    }
    .add-button{
        width: 22%;
    }
    .status-button{
        font-size: 60%;
    }
    .edit-buttons{
        right: 30%;
    }
    .delete-button{
        right: 5px;
    }
    .add-button::after{
        right: 35%;
    }
}


@media (max-width: 700px) {
    .products-table{
        width: 62%;
    }
    .result-table{
        width: 32%;
    }
    .status-button{
        font-size: 40%;
        right: 41px;
    }
    .add-button{
        font-size: 13px;
    }
    .add-button::after{
        right: 40%;
    }
}

@media (max-width: 500px) {
    .left{
        font-size: 24px;
    }
    .products-table{
        float: none;
        width: 100%;
    }
    .result-table{
        float: none;
        width: 100%;
        margin-left: 0;
    }
    .main-add-field{
        width: 70%;
    }
    .add-button{
        width: 27%;
        font-size: 17px;
    }
    .status-button{
        width: 100px;
        font-size: 13px;
        right: 50px;
    }
    .edit-buttons{
        right: 50%;
    }
    .delete-button{
        right: 10px;
    }
    .add-button::after{
        right: 5%;
    }
}